
// Panels
// -------------------

// Overrides: atom/static/panels.less

.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}


// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal {
  left: 0px;
  margin: 0px;
  width: 100%;
  box-shadow: 0;
  .fuzzy-finder {
    .list-group {
      max-height: 100%;
    }
  }
}
