xatom-debug-area xatom-debug-group-content {
  background: @base-dark-color;
}
xatom-debug-console xatom-debug-console-line {
  background: @base-darker-color;
}
xatom-debug-controls {
  margin: 0;
}
